* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
header {
    width: 100%;
    position: relative;
    top: 0;
}
.logo {
    width: 100px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.fas{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}
.fa-window-close{
    display: none;
}
header img {
    float: left;
}
header nav {
    float: right;
    display: none;
}
header nav .menu ul {
    width: 100%;
    right: 0;
    list-style: none;
    opacity: 90%;
    height: 0px;
    display: none;
}
header nav .menu  ul li {
    position: relative;
    z-index:0 !important;
}
header nav .menu  ul li:hover {
    font-family: monserrat;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}
header nav .menu ul li a {
    position: relative;
    text-decoration: none;
    font-family: monserrat;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 16px 5%;
    line-height: 28px;
    display: block;
}
header nav .menu  ul li a:hover {
    color: #060A24;
}
.imagen-crear-gifo{
    display: none;
}

/*menu simple para pantalla mínima de 720px*/
@media screen and (min-width: 720px){
    .logo{
        position: relative;
        display: flex;
        float:left;
    }
      nav {
        float: right;
    }
    header nav .menu ul {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        background: unset;
        height: 80px;
        color: #572EE5;
        display: block;
        float: right;
    }
    header nav .menu  ul li {
        padding: 5px 10px;
        display: inline-block;
        color: #572EE5;
        list-style: none;
    }
    header nav .menu  ul li:hover {
        background: unset;
    }
    header nav .menu ul li a {
        padding: unset;
        line-height: unset;
        color:#572EE5;
    }
    header nav .menu ul li a:hover {
        color:#572EE5;
    }
    header nav .menu input {
        display: none;
        color:#572EE5;
    }
    .fas{
        display: none;
    }
    .menu-lista {
        font-family: monserrat;
        font-size: 16px;
        color: #572EE5;
        letter-spacing: 0;
        line-height: 28px;
    }
}

/*menu simple para pantalla mínima de 1200px*/
@media screen and (min-width: 1200px){
    .logo {
        width: 100px;
        float: left;
        margin-top: 10px;
        margin-left: 5px;
    }
header nav {
        width: 700px;
        height: 100px;  
        float: right;
        display: block;
    }
    .fas{
        display: none;
    }
    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        width: 100%;
        height: 80px;
        color: #572EE5;
        display: flex;
        float: right;
    }
    header nav .menu  ul li {
        padding: 5px 10px;
        display: inline-block;
        color: #572EE5;
        list-style: none;
    }
    header nav .menu  ul li:hover {
        background: unset;
    }
    header nav .menu ul li a {
        padding: unset;
        line-height: unset;
        color: #572EE5;
    }
    header nav .menu  ul li a:hover {
        color: #572EE5;
    }
    .menu-lista {
        font-family: 'montserrat-bold';
        font-size: 13px;
        color: #572EE5;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        margin-top: 20px;
}
    .boton-crear-gifos{
        float: right;
    }
    .nocturno{
        width: 200px;
        height: 16px;
    }
    .favoritos{
        width: 81px;
        height: 16px;
    }
    .mis-gifos{
        width: 200px;
        height: 16px;
    }
}
