* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*Mobile First para pantalla de 320px*/
.linea-violeta{
  border: 1px solid #572EE5;
  width: 100%;
  height: 5px;
  background-color: #572EE5;
  top: 0;
  position: absolute;
}
.linea-violeta2{
  border: 1px solid #572EE5;
  width: 100%;
  height: 5px;
  background-color: #572EE5;
  bottom: 0;
  position: absolute;
}
.seccion-principal-imagen{
    margin-top: 100px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-family: montserrat;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 50px;
    position: relative;
    width: 286px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
}
.contenedor-imagen{
  margin-top: 50px;
}
.ilustra-header{
    margin-left: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 273px;
    height: 130px;
}
.imagen{
  display: flex;
  justify-content: center;
}
.verde{
  color: #50E3C2; 
}
.estilo-buscador{
  border: 1px solid #572EE5;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.fondo-gris{
  background-color: #F3F5F8;
  width: 100%;
}
.titulo-trending{
    font-family: montserrat;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 50px;
}
.frase-trending{
    font-family: montserrat;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 50px;

}
/* segunda sección*/

.segundo-titulo{
    font-family: montserrat;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 50px;
}
.segunda-frase{
    font-family: 'montserrat-medium';
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 50px;
}
.gifos-trending{
    min-width: 20%;
    display: flex;
    flex-direction: row;
}
/* inicio footer */
.footer{
    position: relative;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
  }
  .contenedor-principal-footer{
    position: relative;
    width: 100%;
    height: 22px;
    top: 10px;
    font-family: monserrat;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    display: flex;
    margin-left: 20px;
  }
  .compartir{
    position: relative;
    width: 100%;
    font-family: monserrat;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    display: flex;
  }
  .redes-sociales{
    position: relative;
    display: flex;
    margin-left: 20px;
  }
  .facebook{
    font-size: 16px;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .twitter{
    font-size: 16px;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .instagram{
    font-size: 16px;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .copyright{
    position: relative;
    width: 300px;
    height: 22px;
    font-family: monserrat;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    float: right;
    margin-left: 50px;
  }

  /* fin de footer */

/*para pantalla mínima de 1200px*/
@media screen and (min-width: 1200px){
  .linea-violeta{
    border: 1px solid #572EE5;
    height: 5px;
    background-color: #572EE5;
    top: 0;
    position: absolute;
  }
  .linea-violeta2{
    border: 1px solid #572EE5;
    height: 5px;
    background-color: #572EE5;
    position: absolute;
    bottom: 0;
  }
  .seccion-principal-imagen{
    top: 100px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-family: montserrat;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 50px;
    position: relative;
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-imagen{
  margin-top: 50px;
}
.ilustra-header{
    margin-left: 180px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 399px;
    height: 190px;
}
.imagen{
  display: flex;
  justify-content: center;
}
.estilo-buscador{
  border: 1px solid #572EE5;
  border-radius: 15px;
  padding: 10px;
  width: 551px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 280px;
}
  .lupa{
  float: right;
  }

  .fondo-gris{
    background-color: #F3F5F8;
  }
  .titulo-trending{
      font-family: montserrat;
      font-size: 18px;
      color: #572EE5;
      text-align: center;
      line-height: 25px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      margin-top: 50px;
  }
  .frase-trending{
      font-family: montserrat;
      font-size: 18px;
      color: #572EE5;
      text-align: center;
      line-height: 25px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      margin-top: 50px;
  
  }
  /* segunda sección*/
  
  .segundo-titulo{
      font-family: montserrat;
      font-size: 18px;
      color: #572EE5;
      text-align: center;
      line-height: 25px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      margin-top: 50px;
  }
  .segunda-frase{
      font-family: 'montserrat-medium';
      font-size: 18px;
      color: #572EE5;
      text-align: center;
      line-height: 25px;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      margin-top: 50px;
  }
  .gifos-trending{
    min-width: 20%;
    display: flex;
    flex-direction: row;
}
/* inicio footer */
.footer{
    position: relative;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
  }
  .contenedor-principal-footer{
    position: relative;
    width: 100%;
    height: 22px;
    font-family: 'monserrat';
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    display: flex;
  }
  .compartir{
    position: relative;
    width: 100%;
    font-family: 'monserrat';
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    display: flex;
  }
  .redes-sociales{
    position: relative;
    display: flex;
    left: 20px;
    justify-content: space-between;
  }
  .facebook{
    font-size: 16px;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .twitter{
    font-size: 16px;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .instagram{
    font-size: 16px;
    width: 100%;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
  .copyright{
    position: relative;
    width: 100%;
    height: 22px;
    font-family: 'monserrat';
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    float: right;
  }
  /* fin de footer */
}